*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-color:cadetblue;
    text-align:center;
    line-height:2.1;
    font-family: Arial, Helvetica, sans-serif;
}
head{
    font-style: unset;
    font-size: medium;
}

.hero img{
    border: radius 50%;
}

.accent{
    color:azure
}

@media (max-width:768px){
    body{background-color:white;}

    .grid{
        display: flex;
        justify-content: center;
        /*justify-content:space-around */
        gap: 15px;
        flex-wrap:wrap;
    }
    .grid div{
        background-color:wheat;
        border-radius:100px;
        padding: 10px;
        min-width:80px;
    }